tools/mapeditor/map_editor_status.txt
tools/mapeditor/mix_brush.txt
*.psd
tools/mapeditor/map_editor_status.txt
*.log
*.bak
gfx/editor_terrain/reference_overlay_example.png
tools/mapeditor/map_editor_status.txt
tools/mapeditor/nudger_settings.json
dist/
src/
gfx/models/skins/skins_textures/body/**/*.png
gfx/interface/icons/religion_icons/*.png
.DS_Store
common/.DS_Store

.idea/

gfx/event_images/wizard_studies.png
.vscode/
realms-beta.code-workspace
realms-betaa.code-workspace
realms-beta-real.code-workspace

realms-main.code-workspace
